<form action='/books/<%= @book.id %>' method='POST'>
	<input type='text' name='the_name' value=<%= @book.name %>>
	<input type='hidden' name='_method' value='put'>
	<input type='submit' value='确定'>
</form>